<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Pixel Online">
        <meta name="author" content="Noli">
        <title>PixOn Archive</title>
    </head>

    <style>
        img{
            border: 1px solid black;
            height: 100%;
            display: none;
        }

        .center{
            padding: 0;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        div{
            overflow-x: scroll;
        }

        *{
            margin: 0px;
            padding: 0px;
        }

    </style>

    <body id="body">
        <% ;files.forEach((e)=>{ %>
            <img src="<%= e %>" class="archive center" title="<%= new Date(parseInt(e.replace('.png', ''))) %>"/>
        <% }) %>
        <script>
            let image = document.getElementsByClassName('archive')
            let index = -1
            let fps = parseInt(prompt("Speed (in FPS)", 2)) || 2

            setInterval(()=>{
                if (image[index]) image[index].style.display = 'none'
                index++
                index = index >= image.length ? 0 : index;
                image[index].style.display = 'block'
            }, 1000/fps)
        </script>
    </body>
</html>
