<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Pixel Online">
        <meta name="author" content="Noli">
        <meta name="author" content="flupe">
        <link rel="shortcut icon" href="favicon.ico"/>
        <title>PixOn</title>
        <style>
          body {
              margin: 0;
              padding: 0;
              overflow: hidden;
          }

          #palette {
            position: absolute;
            width: 240px;
            margin: 25px auto;
            left: 0;
            right: 0;
            z-index: 2000;
          }

          .square {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 5px;
            cursor: pointer;
          }

          .square.primary {
            border: 2px solid #fff;
            margin: 3px;
          }

          .square.secondary:before {
            content: " ";
            position: absolute;
            top: -4px;
            left: -4px;
            right: -4px;
            bottom: -4px;
            z-index: -1;
            border: 2px solid #777;
          }
        </style>
    </head>
    <body>
        <div id="palette"></div>
        <script>
          alert("\"ctrl+plus\" and \"ctrl+minus\" or \"shift+mouseWheel\" to change scale."+
          "\n\"alt+mouseDrag\" to move the viewport around."+
          "\n\"+\" and \"-\" to change between pals."+
          "\n\"f\" to flip the viewport horizontally."+
          "\n\"F\" to flip the viewport vertically."+
          "\n\"b\" to select the pen tool (default)."+
          "\n\"r\" to select the rectangle tool.");
        </script>
        <script><%- include('constants', {config}) %></script>
        <script src="dist/client.js"></script>
    </body>
</html>
